@charset "utf-8";

/* CSS Document */

.main_bg {
    padding: 30px 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#70dafd+0,5bf4ff+24,f7fdff+100 */
    background: rgb(112, 218, 253);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgb(112, 218, 253) 0%, rgb(91, 244, 255) 24%, rgb(247, 253, 255) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(112, 218, 253) 0%, rgb(91, 244, 255) 24%, rgb(247, 253, 255) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(112, 218, 253) 0%, rgb(91, 244, 255) 24%, rgb(247, 253, 255) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#70dafd', endColorstr='#f7fdff', GradientType=0);
    /* IE6-9 */
    overflow: hidden;
}

.cloudy {
    width: 100%;
    background: url(../img/cloudy.svg) top center no-repeat;
    background-size: contain;
}

body .main-slideshow.home2_slideshow .home-slideshow-inner.col-sm-9 {
    width: 55%
}

body .main-slideshow.home2_slideshow .home-rightbanner-wrapper.col-sm-3 {
    width: 45%
}

.news {
    width: 100%;
    margin: 30px 0;
    position: relative;
    z-index: 3;
}

@media (min-width: 1500px) {
    .container {
        width: 1500px;
        overflow: hidden;
        margin: auto;
        padding: 0;
    }
}

@media (max-width: 1500px) {
    .container {
        width: 100%;
    }
}

header.eems {
    width: 100%;
    height: 140px;
    background: #fff url(../img//header-01.svg) top center no-repeat;
    background-size: COVER;
}

header.eems.small {
    width: 100%;
    height: 95px;
    background: #fff url(../img/header_scorll.svg) top no-repeat;
    background-size: COVER;
    position: fixed;
    top: 0
}

#bacc {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999;
    background-color: #FFF;
}

#lod2 {
    width: 66px;
    height: 66px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -33px;
    margin-left: -33px;
    /*z-index  : 80;*/
}

.new_boder {
    display: flex;
    justify-content: center;
    max-width: 1170px;
    margin: 30px auto 60px;
    flex-wrap: wrap;
}

.new_boder_index {
    max-width: 100%;
    margin: 0 auto;
}

.new_boder .flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.new_boder a {
    width: 20%;
    margin: auto;
    display: flex;
}

a.animation_btn {
    overflow: hidden;
    display: block;
    position: relative;
    margin: 0;
    transition: all 0.3s;
}

a.animation_btn .banner_img {
    width: 100%;
}

a.animation_btn:hover,
a.animation_btn:focus {
    transform: scale(1.1);
    transition: all 0.3s;
    z-index: 1;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));
}

a.animation_btn:hover img,
a.animation_btn:focus img {
    transform: scale(1.2);
    transition: all 0.3s;
}

.black {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    transition: all 0.2s ease;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    z-index: 1;
}

a.animation_btn:hover .black,
a.animation_btn:focus .black {
    background-color: rgba(255, 140, 0, 0.8);
    transition: all 0.5s ease;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.new_boder .flex {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.new_boder .flex p {
    font-size: 25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    color: #FFF;
    width: 100%;
    word-break: break-all;
    padding: 0 10px;
}

.new_boder a .flex p:before {
    content: "";
    width: 200px;
    height: 60px;
    background: url(../img/school.svg) center no-repeat;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.new_boder a:hover .flex p:before,
.new_boder a:focus .flex p:before {
    content: "";
    background: url(../img/school_color.svg) center no-repeat;
    margin-bottom: 40px;
    transform: scale(1.3);
}

.new_boder a.topics .flex p:before {
    content: "";
    width: 200px;
    height: 60px;
    background: url(../img/topics.svg) center no-repeat;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.new_boder a.topics:hover .flex p:before,
.new_boder a.topics:focus .flex p:before {
    background: url(../img/topics_color.svg) center no-repeat;
    margin-bottom: 40px;
}

a.animation_btn.topics:hover .black,
a.animation_btn.topics:focus .black {
    background-color: rgba(125, 220, 108, 0.8);
    transition: all 0.3s ease;
    bottom: 0;
}

.new_boder .enterprise .flex p::before {
    content: "";
    width: 200px;
    height: 60px;
    background: url(../img/enterprise.svg) center/contain no-repeat;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.new_boder .enterprise:hover .flex p::before,
.new_boder .enterprise:focus .flex p::before {
    background: url(../img/enterprise_color.svg) center/contain no-repeat;
    margin-bottom: 40px;
}

a.animation_btn.enterprise:hover .black,
a.animation_btn.enterprise:focus .black {
    background-color: rgba(11, 103, 155, 0.8);
    transition: all 0.3s ease;
    bottom: 0;
}

.new_boder a.society .flex p::before {
    content: "";
    width: 200px;
    height: 60px;
    background: url(../img/society.svg) center/contain no-repeat;
    margin-bottom: 20px;
}

.new_boder a.society:hover .flex p::before,
.new_boder a.society:focus .flex p::before {
    background: url(../img/society_color.svg) center/contain no-repeat;
    margin-bottom: 40px;
}

a.animation_btn.society:hover .black,
a.animation_btn.society:focus .black {
    background-color: rgba(255, 204, 0, 0.8);
    bottom: 0;
}

.new_boder .global .flex p::before {
    content: "";
    width: 200px;
    height: 60px;
    background: url(../img/handshake.svg) center/contain no-repeat;
    margin-bottom: 20px;
}

.new_boder a.global:hover .flex p::before,
.new_boder a.global:focus .flex p::before {
    background: url(../img/handshake_color.svg) center/contain no-repeat;
    margin-bottom: 40px;
}

a.animation_btn.global:hover .black,
a.animation_btn.global:focus .black {
    background-color: rgba(198, 23, 23, 0.8);
    bottom: 0;
}

.new_boder a.animation_btn .banner_img.on {
    opacity: 0.8;
    transition: all 0.3s ease;
    -webkit-filter: grayscale(0.5) !important;
}

.banner_slider {
    position: relative;
    z-index: 2;
}

.bg1 {
    height: 307.5px;
    width: 100%;
    margin-top: -307.5px;
    position: relative;
    z-index: 0;
}

.footer_link_wrapper .row {
    margin-left: 0;
}