@media screen and (max-width: 1170px) {
    .new_boder {
        padding: 0 30px;
    }
}

@media screen and (max-width: 1060px) {
    .new_boder a {
        width: 30%;
    }
}

@media screen and (max-width: 596px) {
    .new_boder a {
        width: 50%;
    }
    .new_boder a:nth-child(5) {
        width: 100%;
    }
}